* {
  padding: 0;
  margin: 0;
}

body{
    background-image: url("./background.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home {
  margin-left: 25%;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid transparent;
  width: 50vw;
  height: 90vh;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

#level1 , #level2, 
#level3, #level4,
#level5 {
  width: 100px;
  height: 100px;
}

#div1{
    font-size: 30px;
    font-weight: bold;
    font-family:  monospace;
    margin-left: 20px;
    gap:25px;
    display: flex;
    float: right;
}

a:active{
    color:orange;
}

a:hover{
    text-shadow: 0 0 30px orange, 0 0 5px #030305;
}

a{
    font-size: 20px;
    font-family:  monospace;
    color: rgba(158, 153, 153, 0.904);
    text-decoration: none;
}

.navbar{
    color: rgb(224, 222, 222);
    padding: 1%;
    font-size: 25px;
    font-family:  monospace;
}

.shadow{
    box-shadow: 0px 0px 20px white;
}

.albums{
    display: none;
}

.favourites{
    display: none;
}

.editPhoto{
    display: none;
}